@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Roboto&display=swap');
*{
    margin:0;
    font-family: 'Roboto', sans-serif;
}
@media screen and (max-width:850px) {
    #main-container{ 
        display: grid;
        grid-template-columns: 15rem 30rem 1fr;
    }
    #task-container{
    width:30rem;
    }
}

main{
    display: grid;
    grid-template-rows: 3rem 1fr 0.03rem;
    grid-template-areas:
    "header "
    "main-container"
    "footer" ;
    height:100vh;
}

h1{
    grid-area:header;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #3e5fac;
    color:white;
    text-align: center;
    font-size: 300%;
    line-height: 3rem;
}
section#main-container{ 
    grid-area:main-container; 
    display: grid;
    /* grid-template-columns: 12rem 50rem 1fr; */
    grid-template-columns: 10rem 50rem 1fr;
    grid-template-areas:
    "nav-bar task-container right-column";
    overflow-y: auto;
}

section#nav-bar{
    grid-area:nav-bar;  
    background-color:#f0eded;
    font-family: 'Roboto', sans-serif; 
}

section#task-container{
    grid-area:task-container;
    padding:2rem;
}

section#right-column{
    grid-area:right-column;
    background-color:#f0eded;
}

#project-title, #title {
    padding: 1rem 0 1rem 0.3rem;
}
#projects-container{
    padding-left: 10%;
}
.nav-item{
justify-self: stretch;
}
.nav-item:hover{
    background-color:#cac5c5;
}
.nav-item,#add-task-btn{
    background-color:#dddcdc;
    margin-left: 5%;
}

#home, #today{
    margin:0.3rem 0 0.3rem 0;
    padding:0.8rem 0 0.8rem 0.5rem;
}

#projects-title, div#projects{
    background-color: transparent;
}

div#project-content{
    overflow-y: auto;
}

div#task-content{
    background-color: rgba(255, 247, 231, 0.405);
    padding: 0 1.3rem;
    overflow-x: visible;
}

button#add-task-btn:hover{
    background-color:#cac5c5;
}
button.add-btn{
    border-radius: 20px;
    color: rgb(124, 82, 59);
    padding:0.8rem;
    margin: 0.3rem 0;
    width:90%;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

#task-list{
    display: flex;
}
#task-input-bar{
    background-color: rgb(65, 65, 65);
    height: 2rem;
    padding: 0.5rem;
    display: flex;
    width: 95%;
    align-content: space-between;
}

#task,
#dueDate,
button#add-task-input-btn,
button#cancel-task-input-btn,
button.task-btn,
.project-btn, 
input
{
    border-radius: 5px;
    border: none;
    margin:0 0.1rem 0 0.1rem;
    line-height: 2rem;
}

#task-input{
    width:50%;
}
#date{
    width:30%;
}
button.task-btn{
    font-weight: bold;
}

button#add-task-input-btn,.add-small-btn{
    background-color: lightgreen;
    flex-grow: 1;
}
button#cancel-task-input-btn,button.task-delete-btn,.del-btn{
    background-color: lightcoral;   
    flex-grow: 0.1;
}
button#cancel-task-input-btn:hover,
.task-delete-btn:hover{
    background-color: rgb(194, 102, 102);
}
button#add-task-input-btn:hover{
    background-color: rgb(105, 182, 105);
}
button.task-edit-btn:hover{
background-color: rgb(214, 218, 210);
}
ul{
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 222, 179, 0.44);
}
li{
    display: flex;
    padding: 1rem;
    line-height: 2rem;
    width: 95%;
}
.task-checkbox{
    left:0;
    size:3rem;
    padding:1rem;
    margin: auto;
}
.task-text{
    flex-grow: 1;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
.task-date{
    width: 5.5rem;
    right:5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
.task-delete-btn{
    text-align: center;
    position: relative;
    right:0;
}
#project-input{
    width: 60%;
}
.project{
    line-height: 2rem;
    padding: 0.2rem;
}
.project:hover{
    background-color: rgba(208, 209, 209, 0.57);
    border-radius:5px;
}
.edit-project{
    position: relative;
    left: 60%;
}
#project-input{
    border:solid 2px;
}
footer{
    grid-area:footer;
    background-color:#dddcdc;
    align-self: stretch;
}